@import 'config';

.wrapper {
  height: 100%;
}

.contentLayoutContainer {
  width: 100%;
  height: 100%;
}

.menuContainer {
  height: 100%;
  z-index: 888;
  position: absolute;
}

.contentContainer{
  @include scrollbars;

  height: $content-height;
}
