@import '../../components/colors';
@import '../../components/globals';

$header-page: 96px;
$header-color: $limed-spruce;
$table-container-border-color: $alto;
$font-family: "Open Sans", $commonSans;
