@import "./config";

.activeProjectsContainer {
  height: 100%;

  .headerContainer {
    padding: 1em 0 1.1em 0.8em;
    font-size: 24px;

    .header {
      font-family: $font-family;
      line-height: 33px;
      color: $header-color;
      margin: 0;
    }
  }
}

.groupButtonContainer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;

  .button {
    height: 50px;
  }

  .buttonGroup {
    padding: 0;
  }
}
